@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .title-primary {
    @apply font-dm-serif text-6xl leading-tight text-blue-dark;
  }

  .text-body {
    @apply text-2xl leading-relaxed text-blue-dark
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
